.card__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background: rgb(34, 207, 34);
	width: 300px;
	border-radius: 10px;
	border: 1px solid black;
}

.card__image {
	border: 2px solid black;
	width: 100%;
	border-radius: 10px;
}
.card__headline {
	margin-left: 75px;
}
.card__description {
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
.card__button {
	background: silver;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-left: 100px;
}
